.changePassword{
    padding-bottom: 50px;
}
.changePassword__Container{
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
}
.changePassword__Top{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 50px;
}
.changePassword__Top img{
    width: 26px;
    height: 21px;
}
.changePassword__Top a{
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}  
.changePassword__TopIcon{
    width: 15px !important;
    height: 15px !important;
    margin-left: 10px;
}
.changePassword__headline{
    font-size: 28px;
    font-weight: 600;
    color: #5D5D5D;
    margin-top: 20px;
    margin-left: 50px;
}


.changePassword__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.changePassword__form h5{
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
   /* not working color for index files color */
    color: #2164FF !important;
    width: 60%;
    /* margin-left: 120px; */
}
.changePassword__formInput{
    width:555px !important;
    height: 80px !important;
    background: #fff !important;
}
.changePassword__FormGroup{
    position: relative;
}
.changePassword__FormGroupIcon{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5%;
    bottom: 35%;
    color: #5D5D5D
}
.login__contentRightInput[type=password]{
    padding-left: 70px !important;
}

.changePassword__FormBtn{
    width: 274px;
    height: 82px;
    background-color: #FE0000 !important;
    font-size: 24px !important;
    margin-top: 50px;
    border-radius: 10px !important;
    border: none !important;
    box-shadow: var(--darkShadow);
}


@media screen and (max-width: 1750px) {
    .changePassword__Container {
        margin-left: 50px;
        margin-right: 50px;
    }
}
@media screen and (max-width: 1200px) {
    .changePassword__Container{
        font-size: 24px;
        font-weight: 400;
    }
    .changePassword__FormBtn{
        width: 274px;
        height: 60px;
        font-size: 20px !important;
        margin-top: 20px;
    }
}
@media screen and (max-width: 1024px) {
    .changePassword__Container {
        margin-left: 20px;
        margin-right: 20px;
    }

}
@media screen and (max-width: 768px) {
    .changePassword__formInput{
        width:400px !important;
        height: 60px !important;
        background: #fff !important;
    }

}
@media screen and (max-width: 450px) {
    .changePassword__formInput{
        width:300px !important
    }

}