.addProduct{
    margin-top: 100px;
    padding: 10px;
}
.addProduct__headline{
    font-size: 21px;
    font-weight: 600;
    color: #5D5D5D;
    margin-bottom: 20px;
}
.addProduct__content{
    background-color: #fff;
    padding: 30px;
    background: var(--mainWhite);
    box-shadow: var(--darkShadow);
}
.addProduct__contentForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.addProduct__contentInput{

    height: 60px !important;
    background: #fff !important;
}

.addProduct__contentBtn{
    width: 280px;
    height: 60px;
    margin-top: 20px;
    border: none !important;
}

@media screen and (max-width: 1750px) {

}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 1024px) {


}
@media screen and (max-width: 768px) {
    /* .addProduct__contentInput[type=text],
    .addProduct__contentInput[type=email],
    .addProduct__contentInput[type=number],
    .addProduct__contentInput[type=password]{
        padding-left: 20px !important;
    }
    .addProduct__contentBtn{
        width: 300px;
        height: 60px;
        font-size: 20px !important;
        margin-top: 10px;
    } */
    .addProduct__content{
        padding: 5px;
    }
    .addProduct__contentForm{
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
}

@media screen and (max-width: 576px) {

}



/* adding category section starts */
.addCategory__contentForm{
    position: fixed;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.addCategory__contentFormCloseBtn{
    position: fixed;
    background-color: black;
    opacity: .8;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 1000;;
}
.hideAddCategory__contentFormCloseBtn{
    display: none;
}
.hideAddCategory__contentForm{
    display: none;

}
.addCategory__contentInput{
    height: 60px !important;
    width: 250px !important;
    background-color: #fff !important;
}

