.adminChangePassword{
    margin-top: 150px;
}
.adminChangePassword__Container{
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
}
.adminChangePassword__headline{
    font-size: 21px;
    font-weight: 600;
    color: #5D5D5D;
    margin: 0 auto;
    text-align: center;
}
.adminChangePassword__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.adminChangePassword__formInput{
    width:555px !important;
    height: 60px !important;
    background: #fff !important;
}
.adminChangePassword__FormGroup{
    position: relative;
}
.adminChangePassword__FormGroupIcon{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5%;
    bottom: 35%;
    color: #5D5D5D
}

.adminChangePassword__FormBtn{
    width: 280px;
    height: 60px;
    background-color: #FE0000 !important;
    margin-top: 20px;
    border-radius: 10px !important;
    border: none !important;
    box-shadow: var(--darkShadow);
}


@media screen and (max-width: 1450px) {
    .adminChangePassword__Container {
        margin-left: 20px;
        margin-right: 20px;
    }
}


@media screen and (max-width: 768px) {
    .adminChangePassword__formInput{
        width:400px !important;
        height: 60px !important;
        background: #fff !important;
    }

}
@media screen and (max-width: 450px) {
    .adminChangePassword__formInput{
        width:300px !important
    }

}